[Desktop Entry]
Type=Application
Name=GitHub
Exec=xdg-open https://github.com/
Icon=/home/acausr/Applications/GitHub/github-mark/github-mark.png
Terminal=false
Categories=Utility;Web;
